
   .home {
    text-align: center;
  }
  
  h1 {
    margin-top: 40px;
    font-size: 28px;
  }
  
  .navbar {
    display: flex;
    margin-top: 0.5px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(236, 43, 43);
    padding: 10px;
  }
  
  .logo img {
    width: 200px;
    height: 150px;
  }
  
  .container {
    display: flex;
  }
  
  button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #b2f0f5;
    color: #0a0322;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    text-decoration: none;
  }
  
  button:hover {
    background-color: #4589ed;
  }
  
  /* .background-img{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
  
  } */