.product-page {
    text-align: center;
    padding: 20px;
    
  }
  body{
    background-color: rgb(255, 255, 255);
  }
  .product-page h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .sortbtn{
    background-color: rgb(156, 237, 249);
    width: 120px;
    height: 40px;
    margin-bottom: 50px;
    
  }
  .input-Box{
    height: 25px;
    font-weight: 600;
    border-radius: 5px;
    border-color: black;
  
  }
  